<ion-list *ngFor='let review of reviewsList'>
  <ion-item>
      <ion-card>
          <ion-card-header>
              <ion-card-title><ion-avtar><img [src]="review.review.user.profile_image"></ion-avtar>>{{review.review.user.name}}
                </ion-card-title>
            <ion-card-subtitle>{{review.review.review_time_friendly}}</ion-card-subtitle>
          
          </ion-card-header>
          <ion-card-content>
              {{review.review.review_text}}
              <!-- {{review.review..timestamp}} -->
          </ion-card-content>
        </ion-card>
   </ion-item>
</ion-list>