.myOverlay{
     
    position: absolute;
    top: 0px;
    right: 0px;
  background: #00cc00;
  color: #fff;

}
.myFavouriteOverlay{
position: absolute;
bottom: 0px;
right: 0px;
//   background: #00cc00;
//   color: #fff;
}

  img{
    width:100%;
    height:100%;
  }
  .favourite {
    font-size: 130%; //Preferred size here
}