.swiper-slide img {
    width: 100%;
}
.myGallaryOverlay{
    position: absolute;
    bottom: 0px;
    right: 0px;
    //   background: #00cc00;
    //   color: #fff;
    }
    .icon {
        font-size: 130%; //Preferred size here
    }