<ion-button expand = "full" (click) = "uploadImage()">Upload Image</ion-button>
<ion-img  [(ngModel)] = 'image' [src] = 'image' *ngIf = 'image'></ion-img>
<ion-slides #mySlider class="image-slider" loop="true" slidesPerView="3" pager (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
    <ion-slide *ngFor="let image of images; let i = index;">
        <img [src]="image" class="thumb-img" imageViewer />
    </ion-slide>
</ion-slides>
<ion-grid>
    <div *ngFor="let image of images; let i = index;">
        <ion-row *ngIf="i % 3 === 0">
            <ion-col col-4>
                <div *ngIf = 'images[i]'>
                <img class = 'gridImage' [src]="images[i]" />
                <div class="myGallaryOverlay">
                        <ion-icon class='share'  name="share" color='primary' (click)='$event.stopPropagation();onShareClick(i)'></ion-icon>
                </div>
                </div>
            </ion-col>
            <ion-col col-4>
                <div *ngIf = 'images[i+1]'>
                <img class = 'gridImage' [src]="images[i+1]" />
                <div class="myGallaryOverlay">
                        <ion-icon class='share' name="share" color='primary' (click)='$event.stopPropagation();onShareClick(i+1)'></ion-icon>
                </div>
                </div>
            </ion-col>
            <ion-col col-4  >
                    <div *ngIf = 'images[i+2]'>
                <img class = 'gridImage' [src]="images[i+2]" *ngIf = 'images[i+2]'/>
                <div class="myGallaryOverlay">
                        <ion-icon class='share' name="share" color='primary' (click)='$event.stopPropagation();onShareClick(i+2)'></ion-icon>
                </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-grid>