<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/restaurants"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-segment >
    <ion-segment-button checked>
   <ion-label> Details</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink = '/tabs/restaurants/reviews' >
        <ion-label> Reviews</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink = '/tabs/restaurants/details' >
        <ion-label> Gallary </ion-label>
    </ion-segment-button>
  </ion-segment>
<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><img [src]='restaurant.restaurant.featured_image'></ion-card-subtitle>
      <div class="myOverlay">
        <div>{{restaurant.restaurant.user_rating.aggregate_rating}}
          <ion-icon name="star"></ion-icon>
        </div>
      </div>
      <div class="myFavouriteOverlay">
        <div>
          <ion-icon class='favourite' color='danger' [name]="restaurant.restaurant.icon"></ion-icon>
        </div>
      </div>
      <ion-card-title>{{restaurant.restaurant.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{restaurant.restaurant.location.address}}
    </ion-card-content>
  </ion-card>
</ion-content>