<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/restaurants"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-segment [(ngModel)]='seg' scrollable>
  <ion-segment-button   checked value='details'>
    <ion-label> Details</ion-label>
  </ion-segment-button>
  <ion-segment-button value='reviews'>
    <ion-label> Reviews</ion-label>
  </ion-segment-button>
  <ion-segment-button value='gallary'>
    <ion-label> Gallary </ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content>
  <div [ngSwitch]='seg'>
        <app-details *ngSwitchCase="'details'"></app-details>
        <app-reviews *ngSwitchCase="'reviews'"></app-reviews>
        <app-gallary *ngSwitchCase="'gallary'"></app-gallary>
  </div>
</ion-content>