<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchtext" (ionInput)="search()">
    </ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let res of selectedData" (click)='onItemClick(res)'>
        {{res.name}}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let res of restaurants_collection ; index as i" (click)='onCardClick(res)'>
    <ion-card-header>
      <ion-card-subtitle><img [src]='res.restaurant.thumb'>
        <div class="myOverlay">
          <div>{{res.restaurant.user_rating.aggregate_rating}}
            <ion-icon name="star"></ion-icon>
          </div>
        </div>
      </ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col size="10" no-padding>
            <ion-card-title><strong>{{res.restaurant.name}} </strong></ion-card-title>
          </ion-col>
          <ion-col no-padding>
            <div class="myFavouriteOverlay" text-right>
              <div>
                <ion-icon class='favourite' color='danger' [name]="res.restaurant.icon" (click)='$event.stopPropagation();changeIcon(i)'></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{res.restaurant.cuisines}} </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>