.userprofileImage{
    max-width: 85px !important;
    border: 0;
    height: 85px;
    border-radius: 86px;
}
.horizontalLine{
    border: 0.5px solid black;
}
.forInput{   
    border-bottom: 1px solid gray !important;
    // border-radius: 10px !important;
    // padding: 5px !important;
}
.taleNewPhoto{
    font-size: 11px;
    
}